<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>One Page Resume</title>

     <style type="text/css">
        * { margin: 0; padding: 0; }
        body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 50px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; border-bottom: 1px solid #999; }
     </style>
</head>

<body>

    <div id="page-wrap">
    
        <!-- img src="images/cthulu.png" alt="Photo of Cthulu" id="pic" / -->
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="id='etuNom'>">Curriculum Vitae</h1>
        
            <p>
                Nom et Prénom: <span class="name" id='etuNom'>NomTest</span><br />
                Email: <a class="email" id='etuMail' href="mailto:">greatoldone@lovecraft.com</a><br />
                Date de naissance: <span class="dob" id='etuDob'>DoB T</span><br />
                Adresse: <span class="adr" id='etuAdr'>adrT</span><br />
                Tel: <span class="tel" id='etuTel'>555-666-7777</span><br />
                Permis: <span class="perm" id='etuPerm'>Permis A</span><br />
            </p>
        </div>
               <dd class="clear"></dd>
            <br />
			
			<dt>Motivations</dt>
				<dd>
					<p id="etuMotiv"> </p>
            </dd>
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            <br />
            <dt height=150px>Langues parlées et leurs niveaux sur 5</dt>
            <dd>
					<strong>Première : </strong><strong id="etuLang1">Français :</strong> <p id="etuNiv1">Non précisé</p><br />
					<strong>Deuxième : </strong><strong id="etuLang2">Non précisé /</strong><p id="etuNiv2">Non précisé</p><br />
					<strong>Troisième : </strong><strong id="etuLang3">Non précisé : </strong> <p id="etuNiv3">Non précisé</p><br />
					
            </dd>
            
            <dd class="clear"></dd>
            <br />
        <dl>
            
            <dt>Scolarité</dt>
            <dd>
                <h2 id="etuDipl">Licence pro OCI</h2>
				<h2 c id="etuLieuDipl">Paris 8 - Saint Denis</h2>
                <p><strong id="etuMent">Mention:</strong> Non précisée<br />
					<strong>Projet 1:</strong> <p id="etuProjet1">Non précisé</p><br />
					<strong>Projet 2:</strong> <p id="etuProjet2">Non précisé</p><br />
					<strong>Projet 3:</strong> <p id="etuProjet3">Non précisé</p><br />
					<strong>Projet 4:</strong> <p id="etuProjet4">Non précisé</p><br />
					<strong>Projet 5:</strong> <p id="etuProjet5">Non précisé</p></p>
            </dd>
            
            <dd class="clear"></dd>
            <br />
            <!-- <dt>Skills</dt> -->
            <!-- <dd> -->
                <!-- <h2>Office skills</h2> -->
                <!-- <p>Office and records management, database administration, event organization, customer support, travel coordination</p> -->
                
                <!-- <h2>Computer skills</h2> -->
                <!-- <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows</p> -->
            <!-- </dd> -->
            
            <!-- <dd class="clear"></dd> 
			<br />-->
            
            <dt>Expériences professionnels</dt>
            <dd>
                <h2 id='poste1'> </h2>
				<span id='entreprise1'> </span>
                <ul>
                    <li id='debut1'> </li>
                    <li id='fin1'> </li>
                    <li id='descrip1'> </li>
                </ul>
				
                <h2 id='poste2'> </h2>
				<span id='entreprise2'> </span>
                <ul>
                    <li id='debut2'> </li>
                    <li id='fin2'> </li>
                    <li id='descrip2'> </li>
                </ul>
				
                <h2 id='poste3'> </h2>
				<span id='entreprise3'> </span>
                <ul>
                    <li id='debut3'> </li>
                    <li id='fin3'> </li>
                    <li id='descrip3'> </li>
                </ul>
				
                <h2 id='poste4'> </h2>
				<span id='entreprise4'> </span>
                <ul>
                    <li id='debut4'> </li>
                    <li id='fin4'> </li>
                    <li id='descrip4'> </li>
                </ul>
				
                <h2 id='poste5'> </h2>
				<span id='entreprise5'> </span>
                <ul>
                    <li id='debut5'> </li>
                    <li id='fin5'> </li>
                    <li id='descrip5'> </li>
                </ul>
                 
            </dd>
            
            <dd class="clear"></dd>
            <br />
			
            <dt>Hobbies</dt>
            <dd id='hobbies'> </dd>
            
            <dd class="clear"></dd>
            <br />
			
            <dt>Autres informations complémentaires</dt>
            <dd id='etuInfoComp'> </dd>
            
        </dl>
        
        <div class="clear"></div>
    
    </div>

	
	
	<script src="https://d3js.org/d3.v4.min.js" ></script>

	
	
	<script>	
	
	var url_string = window.location.href;
	var url_param = new URL(url_string);
	var idEtu = url_param.searchParams.get('id');
	var url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTNqxhgSq_z2yU8wi6LQU6away5j-YVSaq8Gm0ZtDNuM91wgIitpSJw35NrfYqCUO1coa12t6uRzFw3/pub?output=csv';
	d3.csv(url, function(data){
		console.log(data);
		var dtEtu = data[idEtu];
		d3.select('#etuNom').html(dtEtu['Nom']+' '+dtEtu['Prénom']);
		
		d3.select('#etuMail').html(dtEtu['Adresse e-mail']);
		d3.select('#etuDob').html(dtEtu['Date de naissance']);
		d3.select('#etuAdr').html(dtEtu['Adresse']);
		d3.select('#etuTel').html(dtEtu['Numéro de téléphone']);
		d3.select('#etuPerm').html(dtEtu['Permis ?']);
		d3.select('#etuMotiv').html(dtEtu['Motivations pour le poste']);
		
		d3.select('#etuLang1').html(dtEtu['Première langue parlée']);
		d3.select('#etuLang2').html(dtEtu['Seconde langue parlée']);
		d3.select('#etuLang3').html(dtEtu['Troisième langue parlée']);
		d3.select('#etuNiv1').html(dtEtu['Niveau de la première langue']);
		d3.select('#etuNiv2').html(dtEtu['Niveau de la seconde langue']);
		d3.select('#etuNiv3').html(dtEtu['Niveau de la troisième langue']);
		
		
		d3.select('#etuDipl').html(dtEtu['Plus récent diplôme']);
		d3.select('#etuLieuDipl').html(dtEtu["Lieu d'obtention"]);
		d3.select('#etuProjet1').html(dtEtu['Projet de cours 1']);
		d3.select('#etuProjet2').html(dtEtu['Projet de cours 2']);
		d3.select('#etuProjet3').html(dtEtu['Projet de cours 3']);
		d3.select('#etuProjet4').html(dtEtu['Projet de cours 4']);
		d3.select('#etuProjet5').html(dtEtu['Projet de cours 5']);
		
		
		d3.select('#poste1').html(dtEtu['Expérience numéro 1 : poste']);
		d3.select('#entreprise1').html(dtEtu['Expérience numéro 1 : entreprise']);
		d3.select('#debut1').html(dtEtu['Expérience numéro 1 : date de début']);
		d3.select('#fin1').html(dtEtu['Expérience numéro 1 : date de fin si finit']);
		d3.select('#descrip1').html(dtEtu['Expérience numéro 1 : description du poste']);
		
		d3.select('#poste2').html(dtEtu['Expérience numéro 2 : poste']);
		d3.select('#entreprise2').html(dtEtu['Expérience numéro 2 : entreprise']);
		d3.select('#debut2').html(dtEtu['Expérience numéro 2 : date de début']);
		d3.select('#fin2').html(dtEtu['Expérience numéro 2 : date de fin si finit']);
		d3.select('#descrip2').html(dtEtu['Expérience numéro 2 : description du poste']);
		
		d3.select('#poste3').html(dtEtu['Expérience numéro 3 : poste']);
		d3.select('#entreprise3').html(dtEtu['Expérience numéro 3 : entreprise']);
		d3.select('#debut3').html(dtEtu['Expérience numéro 3 : date de début']);
		d3.select('#fin2').html(dtEtu['Expérience numéro 3 : date de fin si finit']);
		d3.select('#descrip3').html(dtEtu['Expérience numéro 3 : description du poste']);
		
		d3.select('#poste4').html(dtEtu['Expérience numéro 4 : poste']);
		d3.select('#entreprise4').html(dtEtu['Expérience numéro 4 : entreprise']);
		d3.select('#debut4').html(dtEtu['Expérience numéro 4 : date de début']);
		d3.select('#fin4').html(dtEtu['Expérience numéro 4 : date de fin si finit']);
		d3.select('#descrip4').html(dtEtu['Expérience numéro 4 : description du poste']);
		
		d3.select('#poste5').html(dtEtu['Expérience numéro 5 : poste']);
		d3.select('#entreprise5').html(dtEtu['Expérience numéro 5 : entreprise']);
		d3.select('#debut5').html(dtEtu['Expérience numéro 5 : date de début']);
		d3.select('#fin5').html(dtEtu['Expérience numéro 5 : date de fin si finit']);
		d3.select('#descrip5').html(dtEtu['Expérience numéro 5 : description du poste']);
		
		d3.select('#hobbies').html(dtEtu['Hobbies']);
		
		
		d3.select('#etuInfoComp').html(dtEtu['Autres informations complémentaires']);
            
		
		//d3.select('#etuLangues').select('ul').remove();
		//var ulSkill = d3.select('#etuLangues').append('ul').attr('class', 'skills');
		
		
	});
	//console.log(data);
	
	</script>
	
	</script>
	
</body>

</html>